data/*
data/raw/*
data/interim/*
data/processed/*
!data/.gitkeep
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

railway-delay-dataset.csv
train_data.csv
test_data.csv
dirty_train_data.csv
merged_train_data.csv

__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

.venv/
miniconda/
miniconda.exe

models/*.pkl
models/*.joblib
models/*.json
models/*.h5

notebooks/models/*.pkl
notebooks/models/*.joblib
notebooks/models/*.h5
notebooks/models/*_metadata.json
notebooks/models/dnn_*.png
notebooks/models/optuna_*.png
notebooks/models/final_*.png
notebooks/models/stacking_*.pkl
notebooks/models/voting_*.pkl
notebooks/models/xgboost_*.joblib

